.container {
  border-bottom: 1px solid rgb(219,219,219);
  width: 100%;
  padding: 13px 24px;
  margin-bottom: 12px;
}

.header {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.back {
  position: absolute;
  left: 24px;
  display: flex;
  align-items: center;
}

.title {
  font-size: 16px; 
  font-weight: 600;
}